/* HTML and Body styles */
@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author: bella w
   Date:     10/8/23
   
 
*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: white;
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #pink;
    border-radius: 25px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: pink;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: pink;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;     
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: Brush Script MT;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: Brush Script MT;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
html {
   background: url(dlr_back.png), white;
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: white;
   box-shadow: white;
   border-left: 1px white;
   border-right: 1px solid white;
   height: 100%;   
   margin: 0px auto;
   min-width: 320px;
   max-width: 1200px;   
   width: 100%;
}

/* Flex Layout */

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: column nowrap;
   flex-flow: column nowrap;
}

header, footer {
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
}

div#container {
   -webkit-flex: 1 0 auto;
   flex: 1 0 auto;
}

/* Header styles */

header {
   background-color: white;
   border-bottom: 1px solid black;
   color: white;

}

header h1 {
   background: linear-gradient(to right, rgb(0,0,0) 30%, black);
   color: white;
   font-size: 1.4em;
   padding: 5px 0px 5px 12px;
}

header h1 em {
   font-size: 0.7em;
}

/* Navigation list styles */

header nav ul li {
   background-color: white;
   font-size: 0.8em;   
   padding: 0px 10px;
}

header nav ul li a {
   color: rgb(0,0,0);
   display: block;
   width: 100%;
}

header nav ul li a:hover {
   color: black;
   background-color: black;
}

a#navicon {
   display: none;
}

/* Container Styles */

div#container {
   background: white;

}


/* Main Section styles */

section#main {
   padding: 10px 20px 0px 20px;
}

section#main img {
   display: block;
   width: 100%;
}

section#main h2 {
   color: white;
   background: linear-gradient(to right, pink); 
   font-size: 1.1em;
   letter-spacing: 5px;
   padding: 5px 0px 5px 12px;
}

section#main p {
   line-height: 1em;
   margin: 15px;
}

/* Right Section styles */

section#right {
   padding: 0px 15px 0px 15px;
}

/* Aside styles */
article {
   border: 1px pink;
   border-radius: 20px;
   box-shadow: inset pink 5px 5px 10px,  inset pink -5px -5px 10px, pink -5px 5px 25px;
   margin: 15px 0px;
   width: 100%;
}

aricle#current {
   background-color: white;
}

article#current p {
   border-left: 4px solid pink;
   font-size: 0.9em;
}

article p:last-of-type {
   margin-bottom: 25px;
}

article h1 {
   background-color: black;
   border-radius: 10px;
   color: white;
   font-size: 0.9em;
   text-align: center;
   margin: 10px;
}

article h2 {
   color: black;
   text-align: left;
   font-size: 0.9em;
   line-height: 0.95;
   margin: 15px;
}

article p {
   border-left: 4px solid pink;
   font-size: 0.7em;
   padding: 0px 0px 0px 5px;
   margin: 10px 25px;
}
aside h1 {
   background-color: black;
   border-radius: 10px;
   color: white;
   font-size: 0.9em;
   text-align: center;
   margin: 10px;
}

aside h2 {
   color: black;
   text-align: left;
   font-size: 0.9em;
   line-height: 0.95;
   margin: 15px;
}

aside p {
   border-left: 4px solid pink;
   font-size: 0.7em;
   padding: 0px 0px 0px 5px;
   margin: 10px 25px;
}

aside#future {
   background-color: white;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: pink;
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: black;
    background-color: pink;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
